<p>tasklist works!</p>

<div>
    <label> TASK MANAGER </label>

    <div **ngIf="tasks.length === 0"> Task list is empty </div>
    <div *ngFor="let task of tasks">
        <div class="task-container" appHover [appOverdueHighlight] = "task.dueDate">
            <h2>{{ task.title }}</h2>
            <p>{{ task.description }}</p>
            <p>Due Date: {{ task.dueDate }}</p>
            <p>Status: {{ task.status }}</p>
            <p>Priority: {{ task.priority }}</p>
            <button>Edit task</button>
        </div>
    </div>

</div>